


* {
    box-sizing: border-box;   
}

body {
 width: 100%;
 height: 100%;
 max-width: 1440px;

 font-family:'Open Sans', Arial, Helvetica;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#gray {
    background-color: rgba(1, 1, 1, 0.75);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    z-index: 10;
}

.content {
    flex: 1 1 auto;
}

header {
    line-height: 80px;
    text-align: center;
    background-color: rgb(55, 57, 131);
    color: white;
    font-size: 150%;
}

.options {
    display: flex;
    justify-content: space-between;
    margin: 5% 25% 0% 25%;
}

main {
    position: relative;
}

.options{
    font-style: italic;
}

.lent-to {
    color: blue;
    font-weight: bold;
}

#pop-up{
    display: none;
}

.popupContent{
   height: 320px;
   width: 500px; 
   border: 1px solid rgb(219, 219, 219);
   position: absolute;
   top:1%;
   left:25%;
    background-color: white;
    z-index: 15;
}
.popupContent h2 {
    text-align: center;
    line-height: 60px;
    width: 100%;
    background-color: rgb(44, 0, 114);
    color: white;
}

#form {
    padding: 5%;
}

.buttons{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: whitesmoke;
    text-align: right;
    line-height: 60px;
    padding-right: 30px;
}

.list{
    min-height: 60px;
    text-align: center;
    line-height: 30px;
    width: 100%;
    margin: 2%;
    border: 1px solid gray;
    background-color: rgb(166, 166, 219);
    display: flex;
    justify-content: space-between;
}

.div-for-lent {
    width: 30%;
}

.div-for-name{
    text-align: left;
    padding-left: 2%;
    min-height: 60px;
    background-color: aliceblue;
    width: 70%;
}

.new-title {
    color: blue;
    font-weight: bold;
}

.new-name{
    color: rgb(79, 79, 80);
    font-weight: bold;
}

.new-lent {
    color: blue;
    font-weight: bold;
}

.new-counter {
    background-color: blue;
    width: 20px;
    color: white;
    padding: 0 1%;
    display: flex;
    align-items: center;
}

#book-list {
    margin: 2% 20% 0% 20%;
}


.new-button {
        background-color: rgb(74, 74, 170);
        position: relative;
        margin-top: 15px;
        margin-right: 5px;
        height: 10px;
   }
.new-button:after {
        content: '•••';
        position: absolute;
        transform: translate(-50%, -50%) rotate(90deg);
        font-size: 18px; 
        letter-spacing: 4px;
   }

.save {
    display: none;
}

.send, .save {
    width: 150px;
    height: 40px;
    border-radius: 4px;
    color: white;
    background-color: blueviolet;
    margin-right: 10px;
}

.cancel {
    background-color: whitesmoke;
    color: gray;
    font-weight: bold;
    padding-right: 20px;
}

#form input{
    border-bottom: 2px solid rgb(55, 57, 131);
    padding: 6px 10px 4px 10px;
    height: 30px;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 25px;
    font-style: italic;
}

.cause{
    color: rgb(55, 57, 131);
    background-color: white;
    font-weight: bold;
}

#delete-books {
    display: none;
    margin-left: 5%;
    color: green;
    font-weight: bold;
    padding-bottom: 20px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 2px solid green;
}
  

.container input:checked ~ .checkmark {
    background-color: white;
    border: 2px solid green;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 3px;
    top: -1px;
    width: 5px;
    height: 10px;
    border: 2px solid green;
    background-color: white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


footer {
    border-top: 2px solid gray;
    display: flex;
	height: 65px;
	justify-content: center;
	align-items: center;
}

